body {
    background-color:#479141;
    color: rgb(217, 255, 0);  
}

table {
    border-collapse: collapse;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table, th, td, tr, caption {
    border: 1px solid rgb(217, 255, 0);
    padding: 0.2rem;
}